#todo{
	width:350px;
	border: solid #000;
	margin:0 auto;
}

#input{
	margin:0 auto;
	width:335px;
}

#entry{
	width:260px;
	height:20px;
}

#add{
	width:60px;
	height:25px;
}

#description{
	border: solid gray 2px;
	width: 330px;
	height:40px;
	margin:10px auto;
}

.separator {
    height: 0px;
    width: 100px;
    margin: 5px auto;
    border-top: 1px solid #000;
}

.separator2 {
    height: 82px;
    width: 0px;
    border-right: 1px solid #000;
    float: right;
    margin-top: 10px;
}

.item{
	border: solid black 1px;
	height: 100px;
	list-style: none;
	margin-top:10px;
}

#description textarea{
	width:98%;
	height:90%;
	resize:none;
	border:none;
}
#todo h2{
	margin:0 auto;
	width:200px;
}

#todo h3{
	margin-left:10px;
}

ul{
	padding: 0;
    margin: 10px auto;
    width: 330px;
}
.item button{
    float: right;
    margin: 40px 10px;
}

.item h3,.item h4,.item h5{
    margin: 5px 10px;
}